<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Q&A App">
        <title>UNCC Q&A App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav><a href="{{ url_for('new_post') }}">Make a post</a></nav>
        <h1>Welcome to the 49er Q&A App!</h1>

    </body>
</html>