<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Q&A App">
        <title>Individual Question Page</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

    <nav> <a href="{{ url_for('index') }}"> Go back </a> </nav>

    <h1>Individual Question Page</h1>

    <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.posted_date }}</td>
            </tr>
        </table>
    </body>
</html>