<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Q&A App">
        <title>Individual Question Page</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

    <nav> <a href="{{ url_for('index') }}"> Go back </a> </nav>

    <h1>Individual Question Page</h1>

    <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.posted_date }}</td>
            </tr>
        </table>
    {% if question.replies %}
        {% if question.replies|length > 0 %}
            <h2>Replies</h2>
            <ul>
            {% for reply in question.replies %}
                <li>{{ reply.content }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endif %}
        <form action="{{ url_for('new_reply', question_id=question.question_id) }}" method="post">
            <div class="formwrapper">
                <h2 class="title">Add a comment</h2>
                    <div class="form-field">
                        {{ form.reply.label }} <br/> {{ form.reply }}
                     </div>
                {{ form.submit }}
            </div>
        </form>
    </body>
</html>